<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>

<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h1 class="panel-title">Empréstimos de <span th:text="${cliente.nome}"></span></h1>
    </div>
    <div class="panel-body">
        <ul>
            <li th:each="emprestimo : ${emprestimos}">
                <strong th:text="${emprestimo.id}"></strong>: <span th:text="${emprestimo.livro.titulo}"></span>
            </li>
        </ul>
    </div>
</div>

<!-- Scripts do jQuery e do Bootstrap no final da página -->
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}"></script>

</body>
</html>